# Ingesting green taxi tripdata for 2019

Imports

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

Iterate though large csv in steps of 100000

In [2]:
df_iter = pd.read_csv('../data/green_tripdata_2019-09.csv', iterator=True, chunksize=50000)

In [3]:
df = next(df_iter)

After looking at what Pandas thinks the schema should be, the datetame columns are labeled as text. I will use pd.to_datetime to fix.

In [4]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime) 
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

Create connection to postgres with sqlalchemy create_engine

In [6]:
# Create an engine to connect with container
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
# Connect the engine
engine.connect()

Use the head and to_sql method to create a table, then insert the rows.
> Note: the `.head()` method is used to create the table first, the next step will be to ingest the data.

Create table with schema

> `.to_sql` arguments: name of table, connector, and what to do if the table exists (fail, replace, append)

In [8]:
df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

Ingest data
> Note we use `if_exists='append'` because the previous step created the table.

In [9]:
while True:
    t_start = time()
    
    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

    t_end = time()

    print('Munching on some grindage, wheezed the juice for %.3f seconds' % (t_end-t_start))

Munching on some grindage, wheezed the juice for 6.456 seconds
Munching on some grindage, wheezed the juice for 5.942 seconds
Munching on some grindage, wheezed the juice for 6.496 seconds
Munching on some grindage, wheezed the juice for 5.889 seconds
Munching on some grindage, wheezed the juice for 5.982 seconds
Munching on some grindage, wheezed the juice for 5.955 seconds
Munching on some grindage, wheezed the juice for 6.251 seconds
Munching on some grindage, wheezed the juice for 5.084 seconds

StopIteration:

## Look at database catalog

In [ ]:
catalog = '''
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';
'''
pd.read_sql(catalog, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,zones,root,None,True,False,False,False
2,public,green_taxi_trips,root,None,True,False,False,False

## Looking at sample of data

In [ ]:
query = '''
SELECT *
FROM green_taxi_trips
LIMIT 10;
'''
pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,100000,2,2019-09-08 21:53:45,2019-09-08 21:59:09,N,1,7,179,1,0.89,...,0.5,0.5,0.00,0.0,None,0.3,6.80,2,1,0.00
1,100001,2,2019-09-08 21:26:54,2019-09-08 21:33:10,N,1,7,129,1,2.01,...,0.5,0.5,0.00,0.0,None,0.3,9.30,2,1,0.00
2,100002,1,2019-09-08 21:33:39,2019-09-08 21:47:31,N,1,74,213,1,6.20,...,0.5,0.5,0.00,0.0,None,0.3,20.30,2,1,0.00
3,100003,2,2019-09-08 21:21:13,2019-09-08 21:35:18,N,1,66,189,1,2.45,...,0.5,0.5,3.20,0.0,None,0.3,16.00,1,1,0.00
4,100004,2,2019-09-08 21:43:43,2019-09-08 21:49:48,N,1,33,195,1,1.22,...,0.5,0.5,0.00,0.0,None,0.3,7.80,2,1,0.00
5,100005,2,2019-09-08 21:34:03,2019-09-08 21:40:56,N,1,247,116,1,1.42,...,0.5,0.5,0.00,0.0,None,0.3,8.30,2,1,0.00
6,100006,2,2019-09-08 21:36:03,2019-09-08 21:50:56,N,1,244,239,1,5.42,...,0.5,0.5,4.00,0.0,None,0.3,26.05,1,1,2.75
7,100007,1,2019-09-08 21:08:44,2019-09-08 21:17:46,N,5,82,56,1,0.00,...,0.0,0.0,0.00,0.0,None,0.0,0.00,2,2,0.00
8,100008,2,2019-09-08 21:27:09,2019-09-08 21:42:02,N,1,7,75,1,5.26,...,0.5,0.5,5.14,0.0,None,0.3,25.69,1,1,2.75
9,100009,1,2019-09-08 21:16:06,2019-09-08 21:48:22,N,1,89,181,1,0.00,...,0.5,0.5,0.00,0.0,None,0.3,19.80,2,1,0.00